﻿.sidebar-icon {
    width: 14%;
    transition: .5s;
}

.sidebar-label {
    font-weight: 400;
    cursor: pointer;
    color: #fff;
    /* margin-left: 10px; */
    /* font-family: Calibri; */
    font-size: 12px;
    /* margin-top: 9px; */
    text-align: center;
    line-height: 0.9;
}

.sidebar-margin {
    margin: 3px 0px 3px 0px;
}

.sidebar-margin:hover {
    /*margin-left: 10px;*/
    cursor: pointer;
}

.sidebar-margin:hover .sidebar-icon {
    transform: rotate(360deg);
}

.sidebar-menu>li>a>.fa{
    font-size:13px;
}

