html{

    margin: 0!important;

}

body{

	background-image: url(../img/pic1.jpg);

	background-repeat: no-repeat;

	background-size: cover;

	color: red;

}



.center {

  display: block;

  margin-left: auto;

  margin-right: auto;

  width: 45%;

  margin-top: 30px;

}



.logo1{

    display: -webkit-box;

   margin: 0 auto;

    width: 50%;

}

.tb1{

	display: block;

  margin-left: auto;

  margin-right: auto;

  width: 50%;

}

.tb2{

	display: block;

  margin-left: auto;

  margin-right: auto;

  width: 50%;

}



.icon {

  padding: 10px;

  background: dodgerblue;

  color: white;

  min-width: 50px;

  text-align: center;

}

.input-group-addon:first-child {

    background: #07294d;

    color: #fff;

    border: 1px solid #07294d;

}

* {

  box-sizing: border-box;

}