<span style='color: #000'>501 frames</span>	<span style='color: #900'>15,616 KB</span>	<span style='color: #090'>705.18 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br /><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined offset: 1</p>
<p>Filename: include/table_frame_reflower.cls.php</p>
<p>Line Number: 396</p>

</div>